doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
  body

  .header
    ul.navTOP
      li: a(href='/') Home
      li: a(href='/theBigDay') The Wedding
      li: a(href='/party') Wedding Party
      li: a(href='/giftRegistry') Registry
      li: a(href='/RSVP') RSVP
      li: a(href='/Travels') Our Travels


    block header

  .main-content     
    block content

  .footer
    p Made with love by Kenny and Ariane Schang