doctype html
html
	head
		link(rel='stylesheet', href='/css/index.css')
		script.
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-86332171-1', 'auto');
				ga('send', 'pageview');
	body

	.header
		ul.navTOP
			li: a(href='/') Home
			li: a(href='/theBigDay') Details
			li: a(href='/party') Wedding Party
			li: a(href='/giftRegistry') Gift Registry
			li: a(href='/RSVP') RSVP
			li: a(href='/Travels') Photos

		title  The Gift Registry



		.main-content     
			h1.aTitle Gift Registry

			p If you wish to give us a gift to help us start our new life together, you can support us by helping with our dream honeymoon or by helping furnish our home. Thank you so much for contributing to our wedding registry. Please consider making a small donation to our favorite charity found on our Honeyfund page. 
			br
			p Nous vous remercions tres sincerement pour votre contribution a notre liste de marriage.

			br


			a(href='https://www.honeyfund.com/wedding/tiffjeff' target="_blank")
				img(src='http://www.tracyandken.com/wp-content/uploads/2014/01/honeyfund.png',style='width:250px;padding-right: 30px;')

			a(href='http://www.crateandbarrel.com/gift-registry/tiffanie-schang-and-jeffrey-gilder/r5623007' target="_blank")
				img(src='http://www.fairfaxchoralsociety.org/wp-content/uploads/2014/10/cb-logo.png',style='width:250px;padding-left: 30px;')

				


			

	.footer
		p Coded with love by Kenny and Ariane Schang

