extend default

block header
	title=theBigDay

block content
	p.
		<ul>
			<li><a href="http://www.amazon.com">Registry link 1</a></li>
			<li><a href="http://www.target.com">Registry link 2</a></li>
		</ul>
