doctype html
html
	head
		link(rel='stylesheet', href='/css/index.css')
		script.
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-86332171-1', 'auto');
				ga('send', 'pageview');
	body

	.header
		ul.navTOP
			li: a(href='/') Home
			li: a(href='/theBigDay') Details
			li: a(href='/party') Wedding Party
			li: a(href='/giftRegistry') Gift Registry
			li: a(href='/RSVP') RSVP
			li: a(href='/Travels') Photos

		title  The Gift Registry

		.main-content     
			h1.aTitle Gift Registry

			p We're still working on putting together our registries! 

		//
			-

			p.
				What we want most for our wedding is to have all of our friends and family in the same room, and so, more than anything, we consider your presence to be our present. (We mean it!)  That said, if you really would like to get us something tangible, here are some suggestions: 

			.button
				<a href="https://www.honeyfund.com/wedding/tiffjeff" class="action-button shadow animate blue">Honeyfund</a>
				<a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=543650938&pwsurl=" class="action-button shadow animate blue">Bed Bath & Beyond</a>
				<a href="http://www1.bloomingdales.com/registry/wedding/guest/?registryId=6639810" class="action-button shadow animate blue">Bloomingdales</a>
				


			

	.footer
		p Coded with love by Kenny and Ariane Schang

