doctype html
html
	head
		link(rel='stylesheet', href='/css/index.css')
	body

	.header
		ul.navTOP
			li: a(href='/') Home
			li: a(href='/theBigDay') The Wedding
			li: a(href='/party') Wedding Party
			li: a(href='/giftRegistry') Gift Registry
			li: a(href='/RSVP') RSVP
			li: a(href='/Travels') Our Travels

		title = The Gift Registry

		.main-content     
			h1.aTitle Gift Registry

			p.
				What we want most for our wedding is to have all of our friends and family together.  More than anything, we consider your presence to be our present.  That said, if you really would like to get us something tangible, here are some suggestions:  
				If you are one of our crafty loved ones, we’d love if you considered making us something!  We are also registered at Honeyfund, Bed Bath & Beyond and Bloomingdales. 

			.button
				<a href="https://www.honeyfund.com/wedding/tiffjeff" class="action-button shadow animate blue">Honeyfund</a>
				<a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=543650938&pwsurl=" class="action-button shadow animate blue">Bed Bath & Beyond</a>
				<a href="http://www1.bloomingdales.com/registry/wedding/guest/?registryId=6639810" class="action-button shadow animate blue">Bloomingdales</a>
				



			

	.footer
		p Coded with love by Kenny and Ariane Schang

