doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
  body


  .header-homepage
        h1.page-title Tiffanie and Jeff
        h5.page-sub-subtitle are getting married
        h3.page-subtitle 07 &bull; 15 &bull; 2017


      ul.nav
        li: a(href='/') Home
        li: a(href='/theBigDay') The Wedding
        li: a(href='/party') Wedding Party
        li: a(href='/giftRegistry') Registry
        li: a(href='/RSVP') RSVP
        li: a(href='/Travels') Our Travels

