doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    script(src='//code.jquery.com/jquery-1.10.2.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
    script(src='/js/dialog.js')

    script.
          function closeNav(name) {
            document.getElementById(name).style.width = "0%";
          }
          function openNav(name) {
            if (name === "aboutUs") {
              closeNav("ourStory");
              document.getElementById(name).style.width = "60%";
            } else if (name === "ourStory") {
              closeNav("aboutUs");
              document.getElementById(name).style.width = "60%";
            }
          }

          function toggle() {
            var ele = document.getElementById("toggleText")
            var ele2 = document.getElementById("toggleText2")
            var text = document.getElementById("displayText");
            if(ele.style.display == "block") {
                  ele.style.display = "none";
                  ele2.style.display = "block"
              text.innerHTML = "English";
              }
            else {
              ele.style.display = "block";
              ele2.style.display = "none"

              text.innerHTML = "Francais";
            }
          } 
          function toggle2() {
            var ele = document.getElementById("toggleText3")
            var ele2 = document.getElementById("toggleText4")
            var text = document.getElementById("displayText2");
            if(ele.style.display == "block") {
                  ele.style.display = "none";
                  ele2.style.display = "block"
              text.innerHTML = "English";
              }
            else {
              ele.style.display = "block";
              ele2.style.display = "none"

              text.innerHTML = "Francais";
            }
          } 
          



  body
  ul.navTOP
        li: a(href='/') Home
        li: a(href='/theBigDay') Details
        li: a(href='/party') Wedding Party
        li: a(href='/giftRegistry') Gift Registry
        li: a(href='/RSVP') RSVP
        li: a(href='/Travels') Photos


  .header-homepage
        h1.page-title Tiffanie and Jeffrey
        h5.page-sub-subtitle are getting married!
        h3.page-subtitle 07 &bull; 15 &bull; 2017

        a.btn.btn2(onclick='openNav("ourStory")') Our Story
        a.btn.btn3(onclick='openNav("aboutUs")') About Us

        #ourStory.overlay
            .overlay-content
              a#displayText.frenchButton(href='javascript:void(0);', onclick='toggle()') Francais

              a.closebtn(href='javascript:void(0)', onclick='closeNav("ourStory")') &times;
             

              #toggleText(style='display: block; width:90%')
                  h1 How We Met
                  p Our story began June 2011 at 6531 Del Playa in Isla Vista, UCSB. Lisa (bridesmaid) lived downstairs and wanted to introduce Tiffanie to her upstairs neighbors. Tiffanie knocked on apartment 5’s door and was introduced to Kevin, Sean, Tyler, Brad and... of course, Jeffrey. Tiffanie, a rising Junior, and Jeffrey, a rising Senior, instantly clicked. They discussed their love for volleyball and their passion for education. The apartment 5 boys were all heading downtown in Santa Barbara so they rushed out the door to catch Bill’s Bus. Unfortunately, Tiffanie was not yet 21 and therefore had to decline Jeffrey’s invitation to join them. Once everyone left, Jeffrey rushed back through the door to ask Tiffanie for her number. He texted her within the hour. 
                  img(src='photos/OUR STORY.JPG' style='width:400px;')


              #toggleText2(style='display: none; width:90%')
                h1 Notre Rencontre
                p Notre histoire a commencé en Juin 2011 au 6531 Del Playa à Isla Vista, UCSB (Université de Californie à Santa Barbara).  Lisa (demoiselle d’honneur) habitait au rez-de-chaussée et voulait présenter Tiffanie à ses voisins à l’étage.  Tiffanie frappa à la porte de l’appartement 5 et fut présentée Kevin, Sean, Tyler, Brad et… bien sûr, Jeffrey.  Tiffanie, en troisième année, et Jeffrey, en quatrième, s’entendirent tout de suite.  Ils discutèrent de leur passion pour le volleyball et l’éducation.  Les garçons de l’appartement 5 s’apprêtaient à aller dans le centre-ville de Santa Barbara et se précipitaient pour attraper le bus.  Malheureusement, Tiffanie n’avaient pas encore 21 ans et dut décliner l’invitation de Jeffrey.  Une fois tout le monde parti, Jeffrey retourna voir Tiffanie pour lui demander son numéro.  Il lui envoya un message dans l’heure à suivre.  
                img(src='photos/OUR STORY.JPG' style='width:400px;')
            
         #aboutUs.overlay
            .overlay-content
              a#displayText2.frenchButton(href='javascript:void(0);', onclick='toggle2()') Francais
              a.closebtn(href='javascript:void(0)', onclick='closeNav("aboutUs")') &times;
             

              #toggleText3(style='display: block; width:90%')
                h1 A Little Bit About Us
                p Tiffanie Eliane Christiane Schang was born and raised in Paris, France. Jeffrey Steven Gilder was born and raised in Los Angeles. Tiffanie is the daughter of Denise and Thierry Schang. Tiffanie has a younger sister Ariane (bridesmaid) and an older brother Kenny (groomsman). They moved to Mountain View when Tiffanie was seven years old. Jeffrey is the son of Tom and Lori Gilder and has a younger sister, Jenna (bridesmaid). Together, Jeffrey and Tiffanie are passionate teachers, volleyball players and world travelers. Jeffrey is currently the alumni director at Windward and teaching 7th grade US history while Tiffanie is teaching 6th grade at the rival school, Brentwood. Jeffrey popped the question May 2016 on the beach of Paradise Cove and celebrated with a hot air balloon ride in Santa Barbara. Jeffrey and Tiffanie are thrilled to share this special day with friends and family.
                img(src='photos/ABOUT US.JPG' style='width:400px;')

              #toggleText4(style='display: none; width:90%')
                h1 Un Peu Sur Nous
                img(src='photos/ABOUT US.JPG' style='width:400px;')



            
            

    

