doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    script(src='//code.jquery.com/jquery-1.10.2.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
    script(src='/js/dialog.js')

    script.
          function closeNav(name) {
            document.getElementById(name).style.width = "0%";
          }
          function openNav(name) {
            if (name === "aboutUs") {
              closeNav("ourStory");
              document.getElementById(name).style.width = "60%";
            } else if (name === "ourStory") {
              closeNav("aboutUs");
              document.getElementById(name).style.width = "60%";
            }
          }
          



  body
  ul.navTOP
        li: a(href='/') Home
        li: a(href='/theBigDay') The Wedding
        li: a(href='/party') Wedding Party
        li: a(href='/giftRegistry') Registry
        li: a(href='/RSVP') RSVP
        li: a(href='/Travels') Our Travels


  .header-homepage
        h1.page-title Tiffanie and Jeff
        h5.page-sub-subtitle are getting married!
        h3.page-subtitle 07 &bull; 15 &bull; 2017

        a.btn.btn2(onclick='openNav("ourStory")') Our Story
        a.btn.btn3(onclick='openNav("aboutUs")') About Us

        #ourStory.overlay
            a.closebtn(href='javascript:void(0)', onclick='closeNav("ourStory")') &times;
              |             
              .overlay-content
                h1 How We Met
                p He didn’t even have to leave his couch...Our story began June 2011 at 6531 Del Playa in Isla Vista, UCSB. Lisa (bridesmaid) lived downstairs and wanted to introduce Tiffanie to her upstairs neighbors. Tiffanie knocked on apartment 5’s door and was introduced to Kevin, Sean, Tyler, Brad and... of course, Jeffrey. Tiffanie, a rising Junior, and Jeffrey, a rising Senior, instantly clicked. They discussed their love for volleyball and their passion for education. The apartment 5 boys were all heading downtown in Santa Barbara so they rushed out the door to catch Bill’s Bus. Unfortunately, Tiffanie was not yet 21 and therefore had to decline Jeffrey’s invitation to join them. Once everyone left, Jeffrey rushed back through the door to ask Tiffanie for her number. He texted her within the hour. And the rest is history…
                img(src='photos/OUR STORY.JPG' style='width:400px;')
            
         #aboutUs.overlay
            a.closebtn(href='javascript:void(0)', onclick='closeNav("aboutUs")') &times;
              |             
              .overlay-content
                h1 A Little Bit About Us
                p Tiffanie Eliane Christiane Schang was born and raised in Paris, France. Jeffrey Steven Gilder was born and raised in Los Angeles. Tiffanie is the daughter of engineers Denise and Thierry Schang. Tiffanie has a younger sister Ariane (bridesmaid) and an older brother Kenny (groomsman).They moved to Mountain View when Tiffanie was seven years old. Jeffrey is the son of Tom and Lori Gilder and has a younger sister, Jenna (bridesmaid). Together, Jeffrey and Tiffanie are passionate teachers, volleyball players and world travelers. Jeffrey is currently the alumni director at Windward and teaching 7th grade US history while Tiffanie is teaching 6th grade at the rival school, Brentwood. Jeffrey popped the question May 2016 on the beach of Paradise Cove and celebrated with a hot air balloon ride in Santa Barbara. Jeffrey and Tiffanie are thrilled to share this special day with friends and family.
                img(src='photos/ABOUT US.JPG' style='width:400px;')


            
            

    

