doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')


  body


  .header-homepage
        h1.page-title Tiffanie and Jeff
        h5.page-sub-subtitle are getting married
        h3.page-subtitle 07 &bull; 15 &bull; 2017


        .button
          a(id="mybutton" href="#OurStory") Our Story

      #OurStory
          p. How we met:
             He didn’t even have to leave his couch...Our story began June 2011 at 6531 Del Playa in Isla Vista, UCSB. Lisa (bridesmaid) lived downstairs and wanted to introduce Tiffanie to her upstairs neighbors. Tiffanie knocked on apartment 5’s door and was introduced to Kevin, Sean, Tyler, Brad and. of course, Jeffrey. Tiffanie, a rising Junior, and Jeffrey, a rising Senior, instantly clicked. They discussed their love for volleyball and their passion for education. The apartment 5 boys were all heading downtown in Santa Barbara so they rushed out the door to catch Bill’s Bus. Unfortunately, Tiffanie was not yet 21 and therefore had to decline Jeffrey’s invitation to join them. Once everyone left, Jeffrey rushed back through the door to ask Tiffanie for her number to play volleyball together. And the rest is history…


      ul.nav
        li: a(href='/') Home
        li: a(href='/theBigDay') The Wedding
        li: a(href='/party') Wedding Party
        li: a(href='/giftRegistry') Registry
        li: a(href='/RSVP') RSVP
        li: a(href='/Travels') Our Travels


    

