doctype html
html
	head
		link(rel='stylesheet', href='/css/index.css')

		script.
			function openDiv(name) {
				document.getElementById(name).style.display = 'table'
			}
			function closeDiv(name) {
				document.getElementById(name).style.display = 'none'
			}
	body

	.header

		ul.navTOP
			li: a(href='/') Home
			li: a(href='/theBigDay') The Wedding
			li: a(href='/party') Wedding Party
			li: a(href='/giftRegistry') Gift Registry
			li: a(href='/RSVP') RSVP
			li: a(href='/Travels') Our Travels

		title = TheBigDay

	.main-content     
		h1.aTitle The Wedding Party

		.BGbutton(onclick='openDiv("Bridesmaids"); closeDiv("Groomsmen")') Bridesmaids
		<br>
		.BGbutton(onclick='openDiv("Groomsmen");  closeDiv("Bridesmaids")') Groomsmen

		#Groomsmen.transBoxParty

			#img-square(style='background:url(http://i.imgur.com/ayMU8Mo.jpg) no-repeat;background-size:125px 125px')
				#overlay
					span#plus Brad
			#img-square(style='background:url(http://i.imgur.com/xSMPzi1.jpg) no-repeat;background-size:125px 125px')
				#overlay
					span#plus Brandon
			#img-square(style='background:url(http://i.imgur.com/7HBUA7Q.jpg) no-repeat;background-size:125px 125px')
				#overlay
					span#plus Corey
			#img-square(style='background:url(http://i.imgur.com/Bh5PfIb.jpg) no-repeat;background-size:125px 125px')
				#overlay
					span#plus Josh
			#img-square(style='background:url(http://i.imgur.com/aN4VZgd.jpg) no-repeat;background-size:125px 125px')
				#overlay
					span#plus Kenny
			#img-square(style='background:url(http://i.imgur.com/oiNYkky.jpg) no-repeat;background-size:125px 125px')
				#overlay
					span#plus Nicky
			#img-square(style='background:url(http://i.imgur.com/zuYdzVx.jpg) no-repeat;background-size:125px 125px')
				#overlay
					span#plus Noah
			#img-square(style='background:url(http://i.imgur.com/IcZUNgM.jpg) no-repeat;background-size:125px 125px')
				#overlay
					span#plus Spencer
			#img-square(style='background:url(http://i.imgur.com/yV8uqyR.jpg) no-repeat;background-size:125px 125px')
				#overlay
					span#plus Zach


		#Bridesmaids.transBoxParty
			#img-square(style='background:url(http://i.imgur.com/GwEU016.jpg) no-repeat;background-size:125px 125px')
				#overlay
					span#plus Abbey
			#img-square(style='background:url(http://i.imgur.com/B1wq4iV.jpg) no-repeat;background-size:125px 125px')
				#overlay
					span#plus Chloe
			#img-square(style='background:url(http://i.imgur.com/mfzsMrQ.jpg) no-repeat;background-size:125px 125px')
				#overlay
					span#plus Eliot
			#img-square(style='background:url(http://i.imgur.com/G6KGLYx.jpg) no-repeat;background-size:125px 125px')
				#overlay
					span#plus Emily
			#img-square(style='background:url(http://i.imgur.com/9gtsdFk.jpg) no-repeat;background-size:125px 125px')
				#overlay
					span#plus Jenna
			#img-square(style='background:url(http://i.imgur.com/fN6W4HT.jpg) no-repeat;background-size:125px 125px')
				#overlay
					span#plus Lauren
			#img-square(style='background:url(http://i.imgur.com/WVxvcMG.jpg) no-repeat;background-size:125px 125px')
				#overlay
					span#plus Lisa
			#img-square(style='background:url(http://i.imgur.com/dxMJ43q.jpg) no-repeat;background-size:125px 125px')
				#overlay
					span#plus Ariane


	.footer
		p Coded with love by Kenny and Ariane Schang

