doctype html
html
	head
		link(rel='stylesheet', href='/css/index.css')

		script.
			function openDiv(name) {
				document.getElementById(name).style.display = 'table'
			}
			function closeDiv(name) {
				document.getElementById(name).style.display = 'none'
			}
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-86332171-1', 'auto');
			ga('send', 'pageview');
	body

	.header

		ul.navTOP
			li: a(href='/') Home
			li: a(href='/theBigDay') Details
			li: a(href='/party') Wedding Party
			li: a(href='/giftRegistry') Gift Registry
			li: a(href='/RSVP') RSVP
			li: a(href='/Travels') Our Travels

		title = TheBigDay

	.main-content     
		h1.aTitle The Wedding Party

		.BGbutton(onclick='openDiv("Bridesmaids"); closeDiv("Groomsmen")') Bridesmaids
		<br>
		.BGbutton(onclick='openDiv("Groomsmen");  closeDiv("Bridesmaids")') Groomsmen

		<br>

		#Groomsmen.transBoxParty

			#img-square-party(style='background:url(http://i.imgur.com/ayMU8Mo.jpg) no-repeat;background-size:125px 125px')
				#overlay-party
					span#plus Brad
			#img-square-party(style='background:url(http://i.imgur.com/xSMPzi1.jpg) no-repeat;background-size:125px 125px')
				#overlay-party
					span#plus Brandon
			#img-square-party(style='background:url(http://i.imgur.com/7HBUA7Q.jpg) no-repeat;background-size:125px 125px')
				#overlay-party
					span#plus Corey
			#img-square-party(style='background:url(http://i.imgur.com/Bh5PfIb.jpg) no-repeat;background-size:125px 125px')
				#overlay-party
					span#plus Josh
			#img-square-party(style='background:url(http://i.imgur.com/aN4VZgd.jpg) no-repeat;background-size:125px 125px')
				#overlay-party
					span#plus Kenny
			#img-square-party(style='background:url(http://i.imgur.com/oiNYkky.jpg) no-repeat;background-size:125px 125px')
				#overlay-party
					span#plus Nicky
			#img-square-party(style='background:url(http://i.imgur.com/zuYdzVx.jpg) no-repeat;background-size:125px 125px')
				#overlay-party
					span#plus Noah
			#img-square-party(style='background:url(http://i.imgur.com/IcZUNgM.jpg) no-repeat;background-size:125px 125px')
				#overlay-party
					span#plus Spencer
			#img-square-party(style='background:url(http://i.imgur.com/yV8uqyR.jpg) no-repeat;background-size:125px 125px')
				#overlay-party
					span#plus Zach


		#Bridesmaids.transBoxParty
			#img-square-party(style='background:url(http://i.imgur.com/GwEU016.jpg) no-repeat;background-size:125px 125px')
				#overlay-party
					span#plus Abby
			#img-square-party(style='background:url(http://i.imgur.com/B1wq4iV.jpg) no-repeat;background-size:125px 125px')
				#overlay-party
					span#plus Chloe
			#img-square-party(style='background:url(http://i.imgur.com/mfzsMrQ.jpg) no-repeat;background-size:125px 125px')
				#overlay-party
					span#plus Eliot
			#img-square-party(style='background:url(http://i.imgur.com/G6KGLYx.jpg) no-repeat;background-size:125px 125px')
				#overlay-party
					span#plus Emily
			#img-square-party(style='background:url(http://i.imgur.com/9gtsdFk.jpg) no-repeat;background-size:125px 125px')
				#overlay-party
					span#plus Jenna
			#img-square-party(style='background:url(http://i.imgur.com/fN6W4HT.jpg) no-repeat;background-size:125px 125px')
				#overlay-party
					span#plus Lauren
			#img-square-party(style='background:url(http://i.imgur.com/WVxvcMG.jpg) no-repeat;background-size:125px 125px')
				#overlay-party
					span#plus Lisa
			#img-square-party(style='background:url(http://i.imgur.com/dxMJ43q.jpg) no-repeat;background-size:125px 125px')
				#overlay-party
					span#plus Ariane


	.footer
		p Coded with love by Kenny and Ariane Schang