extend default

block header
	title=theBigDay

block content
	p.
		<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScaKlZK8b7ttwfnHJbtFzUwXYM8e9N9C2MUzE8feUDtryZAug/viewform?embedded=true" width="760" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
	

.footer
		p Made with love by Kenny and Ariane Schang