extend default

block header
	title=theBigDay

block content
	p.
		Embed a Google Form like this: <a href="http://offbeatbride.com/google-docs-wedding-rsvp/">How to use Google Docs to create an online wedding RSVP tool</a>.
	p.
		Let Tiffanie and Jeff select the theme/colors.
	