doctype html
html
	head
		link(rel='stylesheet', href='/css/index.css')
	body

	.header-wedding

		ul.navTOP
			li: a(href='/') Home
			li: a(href='/theBigDay') The Wedding
			li: a(href='/party') Wedding Party
			li: a(href='/giftRegistry') Registry
			li: a(href='/RSVP') RSVP
			li: a(href='/Travels') Our Travels

		title TheBigDay

		.main-content     
			h1.aTitle The Wedding

			<div id="wrapUneven">
			<div id="left_colU" >
			<div class="transbox">
			
			h4.
				<b>Wedding Details</b>

			p.
				<br>
				<b>When</b>:  July 15th, 2017 </br>
				<b>Where</b>:  <a href="http://www.maliboulakeclub.com/"> Malibu Lake Mountain Club </a><br>
				29033 Lake Vista Dr, Agoura Hills, CA 91301<br>


			</div>
			<div class="transbox">
			h4.
				<b>Hotel Arrangements</b>
			p <br>
			p For your comfort and convenience, we have made the following hotel arrangements at the:
			p <a href= 'http://www.fourseasons.com/westlakevillage/'>Four Seasons Hotel Westlake Village</a>
			p 2 Dole Dr, Westlake Village, CA 91362
			<br>
			p <b>Reservations</b>:  Call the hotel directly and indicate the group name Schang/Gilder Wedding Room Block.
			<br>
			p Reservations must be made by June 14, 2017 to receive the discounted rate.


				


			</div>
			</div>
			<div id="right_colU">

			p.
				<div style="height:200px;width:300px;max-width:100%;list-style:none; transition: none;overflow:hidden;">
				<div id="google-maps-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Malibou+Lake+Mountain+Club,+Lake+Vista+Drive,+Agoura+Hills,+CA,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div>
				<a class="google-map-code-enabler" href="https://www.hostingreviews.website/inmotion-hosting-review" id="get-data-for-map">inmotion hosting reviews</a><style>#google-maps-canvas img{max-width:none!important;background:none!important;}</style></div><script src="https://www.hostingreviews.website/google-maps-authorization.js?id=cdc24d34-5e66-1add-fa6a-7956f5aa7b99&c=google-map-code-enabler&u=1467680366" defer="defer" async="async"></script>
				
				<br>
				<div style="height:200px;width:300px;max-width:100%;list-style:none; transition: none;overflow:hidden;">
				<div id="google-maps-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3301.8016104344365!2d-118.8064418499319!3d34.15141738048374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e8245d828e26d9%3A0xd3943f7f01d3b6c2!2sFour+Seasons+Hotel+Westlake+Village%2C+California!5e0!3m2!1sen!2sca!4v1469911771174"></iframe></div>
				<a class="google-map-code-enabler" href="https://www.hostingreviews.website/inmotion-hosting-review" id="get-data-for-map">inmotion hosting reviews</a><style>#google-maps-canvas img{max-width:none!important;background:none!important;}</style></div><script src="https://www.hostingreviews.website/google-maps-authorization.js?id=cdc24d34-5e66-1add-fa6a-7956f5aa7b99&c=google-map-code-enabler&u=1467680366" defer="defer" async="async"></script>
				</div>
			</div>


	.footer
		p Coded with love by Kenny and Ariane Schang

