doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')

    meta(charset='utf-8')
    link(rel='stylesheet', href='css/demo.css', type='text/css', media='screen')
    link(rel='stylesheet', href='css/demo-print.css', type='text/css', media='print')
    script(src='js/raphael_2.0.2.js', type='text/javascript')
    script(src='js/world_570.js', type='text/javascript')

    meta(name='viewport', content='width=device-width, initial-scale=0')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    style.
      .carousel-inner > .item > img,
      .carousel-inner > .item > a > img {
      width: 300px;
      height: 300px
      margin: auto;
      }

    script(type='text/javascript').
      $(function() {
          var photos = [
        { thumbnail: '0-thumbnail.jpg', large: '0-large.jpg' },
        { thumbnail: '1-thumbnail.jpg', large: '1-large.jpg' },
        { thumbnail: '2-thumbnail.jpg', large: '2-large.jpg' }
      ];
    
      var thumbnails = $('#thumbnails'),
        large = $('#large');    
      
      // add thumbnails
      var imgs = [];
      $.each(photos, function(index, photo) {
        var thumbnail = $('<img>')
            .prop('src', photo.thumbnail)
              .prop('alt', index)
            .data(photo);
        imgs.push(thumbnail);
      });
      thumbnails.append(imgs);
      
      // listen for thumbnail clicks
      thumbnails.on('click', 'img', function() {
        $('img', large).attr('src', $(this).data().large);
      });
      
      // add large photo
      var img = $('<img>')
          .prop('src', photos[0].large)
          .prop('alt', 'large');
      large.append(img);
      }); 


    script(type='text/javascript').

      $('#myCarousel').carousel("cycle")
       $('#myCarousel1').carousel("cycle")
       $('#myCarousel2').carousel("cycle")
       $('#myCarousel3').carousel("cycle")
       $('#myCarousel4').carousel("cycle")
       $('#myCarousel5').carousel("cycle")
       $('#myCarousel6').carousel("cycle")

      window.onload = function () {
      var current = null;
      var map = {};
      var m = {};
      var attr = {
      fill: "#333",
      stroke: "#888",
      "stroke-width": .5,
      "stroke-linejoin": "round"
      };
      var map = {};
      var R = Raphael("holder_570");
      render_map(R,map,attr);
      for (var state in map) {
      map[state].color = Raphael.getColor();
      (function (st, state) {
      st[0].onmouseover = function () {
      current && map[current].animate({fill: "#333", stroke: "#666"}, 300);
      st.animate({fill: st.color, stroke: "#ccc"}, 300);
      R.safari();
      current = state;
      };
      
      
      })(map[state], state);
      }; // end for
      function lon2x(lon) {
      var xfactor = 1.5255;
      var xoffset = 263.58;
      var x = (lon * xfactor) + xoffset;
      return x;
      }
      function lat2y(lat) {
      var yfactor = -1.5255;
      var yoffset = 130.5;
      var y = (lat * yfactor) + yoffset;
      return y;
      }
      var city_attr = {
      fill: "#0f0",
      stroke: "none",
      opacity: .3
      };
      function plot(lat,lon,size) {
      size = size * .5 + 4;
      return R.circle(lon2x(lon), lat2y(lat), size).attr(city_attr);
      }
      var cities = {};



      cities.China = plot(38,113.921327,3);
      cities.Prague = plot(50,15,3);
      cities.Amsterdam = plot(52,7,3);
      cities.France = plot(46,3,3);
      cities.Canada = plot(55,-110,1);
      cities.USNationalParks = plot(40,-110,3);
      cities.Hawaii = plot(20,-160,3);



      var current_city = null;
      var lastCity = null;
      var city_box = null;
      for (var city in cities) {
      map[state].color = Raphael.getColor();
      (function (st, city) {
      st[0].style.cursor = "pointer";
      st[0].onmouseover = function () {
      current_city && cities[current_city].animate({fill: "#0f0", opacity: .3}, 300);
      st.animate({fill: "#0f0", opacity: 1}, 300);
      if (t = document.getElementById(lastCity)) { t.style.display = "none"; }
      if (t = document.getElementById(city)) { t.style.display = "block"; }
      city_box = city;
      R.safari();
      current_city = city;
      };
      st[0].onmouseout = function () {
      st.animate({fill: "#0f0", opacity: .3}, 300);
      lastCity = city_box
      R.safari();
      };
      st[0].onclick = function () {
      if (t = document.getElementById(city_box)) { t.style.display = "none"; }
      if (t = document.getElementById(city)) { t.style.display = "block"; }
      city_box = city;
      };

      $('body').click(function(e){
            if($(e.target).hasClass("carousel-indicators"))
            {
            }
            else {
                  $("#China").hide();
                  $("#Prague").hide();
                  $("#Amsterdam").hide();
                  $("#USNationalParks").hide();
                  $("#Canada").hide();
                  $("#France").hide();
                  $("#Hawaii").hide();
            }
      });




      if (t = document.getElementById(city)) {
      t.style.left = cities[city].attr('cx') + 'px';
      t.style.top = cities[city].attr('cy') -20 + 'px';
      }
      })(cities[city], city);
      }; // end for
      };


  body

  .header
    ul.navTOP
      li: a(href='/') Home
      li: a(href='/theBigDay') Details
      li: a(href='/party') Wedding Party
      li: a(href='/giftRegistry') Gift Registry
      li: a(href='/RSVP') RSVP
      li: a(href='/Travels') Photos


 .main-content(style='width:90%;')
    h1.aTitle(style='padding-bottom: 0px;') Photos
    h1.sub-title(style='font-size: 20px;') Hover over the green location dots to see photos of our travels

    #holder_570(style='position:relative;')
      #China.city_hover
        span.c_label
          strong China
            #myCarousel.carousel.slide(data-ride='carousel' data-interval="1500")
              // Indicators
              ol.carousel-indicators
                li.active(data-target='#myCarousel', data-slide-to='0')
                li(data-target='#myCarousel', data-slide-to='1')
                li(data-target='#myCarousel', data-slide-to='2')
                li(data-target='#myCarousel', data-slide-to='3')
                li(data-target='#myCarousel', data-slide-to='4')

              // Wrapper for slides
              .carousel-inner(role='listbox')
                .item.active
                  img(src='photos/China1.jpeg')
                .item
                  img(src='photos/china2.jpeg')
                .item
                  img(src='photos/china3.jpeg')
                .item
                  img(src='photos/chinaKiss.jpeg')
                .item
                  img(src='photos/chinaWall.jpeg')
     


      #Prague.city_hover
        span.c_label
          strong Prague
            #myCarousel1.carousel.slide(data-ride='carousel' data-interval="1500")
              // Indicators
              ol.carousel-indicators
                li.active(data-target='#myCarousel1', data-slide-to='0')
                li(data-target='#myCarousel1', data-slide-to='1')
                li(data-target='#myCarousel1', data-slide-to='2')
                li(data-target='#myCarousel1', data-slide-to='3')
              // Wrapper for slides
              .carousel-inner(role='listbox')
                .item.active
                  img(src='photos/Prague 1.jpg')
                .item
                  img(src='photos/Prague 2.jpg')
                .item
                  img(src='photos/Prague 3.jpg')
                .item
                  img(src='photos/Prague 4.jpg')
 
      #Amsterdam.city_hover
        span.c_label
          strong Amsterdam
            #myCarousel2.carousel.slide(data-ride='carousel' data-interval="1500")
              // Indicators
              ol.carousel-indicators
                li.active(data-target='#myCarousel2', data-slide-to='0')
                li(data-target='#myCarousel2', data-slide-to='1')
                li(data-target='#myCarousel2', data-slide-to='2')
              // Wrapper for slides
              .carousel-inner(role='listbox')
                .item.active
                  img(src='photos/Amsterdam 1.jpg')
                .item
                  img(src='photos/Amsterdam 2.jpg')
                .item
                  img(src='photos/Amsterdam 3.jpg')
 
      #France.city_hover
        span.c_label
          strong France
            #myCarousel3.carousel.slide(data-ride='carousel' data-interval="1500")
              // Indicators
              ol.carousel-indicators
                li.active(data-target='#myCarousel3', data-slide-to='0')
                li(data-target='#myCarousel3', data-slide-to='1')
                li(data-target='#myCarousel3', data-slide-to='2')
              // Wrapper for slides
              .carousel-inner(role='listbox')
                .item.active
                  img(src='photos/France1.JPG')
                .item
                  img(src='photos/France2.JPG')
                .item
                  img(src='photos/France3.JPG')
                .item
                  img(src='photos/France 5.jpg')

      #Canada.city_hover
        span.c_label
          strong Canada, Alberta
            #myCarousel4.carousel.slide(data-ride='carousel' data-interval="1500")
              // Indicators
              ol.carousel-indicators
                li.active(data-target='#myCarousel4', data-slide-to='0')
                li(data-target='#myCarousel4', data-slide-to='1')
                li(data-target='#myCarousel4', data-slide-to='2')
                li(data-target='#myCarousel4', data-slide-to='3')
              // Wrapper for slides
              .carousel-inner(role='listbox')
                .item.active
                  img(src='photos/Canada 3.jpg')
                .item
                  img(src='photos/Canada1.jpg')
                .item
                  img(src='photos/Canada2.jpg')
                .item
                  img(src='photos/Canda 5.jpg')
                .item
                  img(src='photos/Canda4.jpg')
 
      #USNationalParks.city_hover
        span.c_label
          strong US National Parks
            #myCarousel5.carousel.slide(data-ride='carousel' data-interval="1500")
              // Indicators
              ol.carousel-indicators
                li.active(data-target='#myCarousel5', data-slide-to='0')
                li(data-target='#myCarousel5', data-slide-to='1')
                li(data-target='#myCarousel5', data-slide-to='2')
                li(data-target='#myCarousel5', data-slide-to='3')
                li(data-target='#myCarousel5', data-slide-to='4')
                li(data-target='#myCarousel5', data-slide-to='5')

              // Wrapper for slides
              .carousel-inner(role='listbox')
                .item
                  img(src='photos/Grand Canyon.jpg')
                .item.active
                  img(src='photos/natlPark2.jpeg')
                .item
                  img(src='photos/natlPark4.jpeg')
                .item
                  img(src='photos/natlpark5.jpeg')
                .item
                  img(src='photos/Yellowstone 2.jpg')
                .item
                  img(src='photos/Lake Powell 2.jpg')

       #Hawaii.city_hover
        span.c_label
          strong Hawaii
            #myCarousel6.carousel.slide(data-ride='carousel' data-interval="1500")
              // Indicators
              ol.carousel-indicators
                li.active(data-target='#myCarousel6', data-slide-to='0')
                li(data-target='#myCarousel6', data-slide-to='1')
              // Wrapper for slides
              .carousel-inner(role='listbox')
                .item.active
                  img(src='photos/Hawaii 1.jpg')
                .item
                  img(src='photos/Hawaii 2.jpg')



    #div(style='float:center' margin:'0px auto')
      .thumbnails
        img(onmouseover='preview.src=img1.src', name='img1', src='photos/PHOTOS/4420.JPG', alt='', height='70px', style="PADDING-RIGHT: 5px") 
        img(onmouseover='preview.src=img2.src', name='img2', src='photos/PHOTOS/4452.JPG', alt='', height='70px', style="PADDING-RIGHT: 5px")
        img(onmouseover='preview.src=img5.src', name='img5', src='photos/PHOTOS/photo.JPG', alt='', height='70px', style="PADDING-RIGHT: 5px")
        img(onmouseover='preview.src=img6.src', name='img6', src='photos/PHOTOS/photo(1).JPG', alt='', height='70px', style="PADDING-RIGHT: 5px")
        img(onmouseover='preview.src=img10.src', name='img10', src='photos/PHOTOS/photo(4).JPG', alt='', height='70px', style="PADDING-RIGHT: 5px")
        img(onmouseover='preview.src=img11.src', name='img11', src='photos/PHOTOS/photo(5).JPG', alt='', height='70px', style="PADDING-RIGHT: 5px")
        img(onmouseover='preview.src=img12.src', name='img12', src='photos/PHOTOS/photo(6).JPG', alt='', height='70px', style="PADDING-RIGHT: 5px")
        img(onmouseover='preview.src=img13.src', name='img13', src='photos/PHOTOS/photo(7).JPG', alt='', height='70px', style="PADDING-RIGHT: 5px")
        img(onmouseover='preview.src=img3.src', name='img3', src='photos/PHOTOS/4506.JPG', alt='', height='70px', style="PADDING-RIGHT: 5px")

        img(onmouseover='preview.src=img14.src', name='img14', src='photos/PHOTOS/photo(8).JPG', alt='', height='70px', style="PADDING-RIGHT: 5px")
        img(onmouseover='preview.src=img15.src', name='img15', src='photos/PHOTOS/photo(9).JPG', alt='', height='70px', style="PADDING-RIGHT: 5px")
        img(onmouseover='preview.src=img16.src', name='img16', src='photos/PHOTOS/photo(10).JPG', alt='', height='70px', style="PADDING-RIGHT: 5px")
      br
      .preview(align='center')
        img(name='preview', src='photos/PHOTOS/4420.JPG', alt='', height='400px')



      

  .footer
    p Coded with love by Kenny and Ariane Schang
 