extend default

block header
	title=theBigDay

block content
	p.
		We could have Tiffanie create a <a href="https://www.google.com/maps/d/viewer?mid=1Nki449IZCjevRPkoIanxe-BcmSo&hl=en_US">Travel Map</a> in Google and embed it on the site.
	p.
		<iframe src="https://www.google.com/maps/d/embed?mid=1Nki449IZCjevRPkoIanxe-BcmSo&hl=en_US" width="640" height="480"></iframe>

	p.
		Put a slideshow underneath with pictures and where they were taken.