@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');
@import url('https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=League+Script');
@import url('https://fonts.googleapis.com/css?family=Scope+One');
@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/css?family=Raleway|Rouge+Script');


*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family 'Source Code Pro', monospace

.header-homepage
  background url('http://i.imgur.com/qYGtkRH.jpg')
  background-size: cover
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  position: relative;

  .page-title
    position:absolute;
    right: 10%
    top: 35%
    font-size 80px
    color #fff
    font-family 'Parisienne'
    -ms-transform: rotate(-6deg)
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);

  .page-subtitle
    position:absolute;
    font-size 35px
    right: 23%
    top: 54%
    color #fff
    font-family 'Raleway'

  .page-sub-subtitle
    position:absolute;
    font-size 18px
    right: 25%
    top: 50%
    color #fff
    font-family 'Raleway'

  .button
    text-align center
    font-family 'Raleway'
    position absolute
    padding-right 30px
    padding-left 30px
    padding-top 5px
    padding-bottom 5px
    right: 25%
    top: 65%
    background-color rgba(255, 107, 95, 0.5)    
    border-radius: 20%;

    li
      display inline-block

    a
      display inline-block
      color #FFF
      font-size 30px
      font-family 'Parisienne'
      text-decoration:none




.header-TBD
  background url('http://michellejohnsonphotography.com/blog/wp-content/uploads/2014/06/06maliboulakemountainclubweddingpictures.jpg')
  background-size: cover
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;


.main-content
  width 75%
  margin 50px auto
  align center
  margin-bottom: -10px; 

  .aTitle
    text-align center
    font-size 80px
    color rgb(22, 72, 131)
    font-family 'Parisienne'
    padding-bottom 20px

  .img-circle 
      display: block
      float left
      border-radius: 40%;
      max-width 500px
      padding 20px

.transbox 
    background-color: #ffffff
    border: 3px solid black
    opacity: 0.6  
    margin 6px
    padding: 10px 10px 10px 10px;

  p
    color rgb(84, 66, 66)
    font-size 24px
    font-family 'Raleway'

#wrap {
   width:75%;
   margin:0 auto;
}
#left_col {
   float:left;
   width:60%;
   vertical-align: middle;
}
#right_col {
   float:right;
   width:40%;
}

.ourStory
  width:75%
  margin:0 auto
  padding-bottom 20px
  padding-top 20px

  p
    color rgb(84, 66, 66)
    font-size 14px
    font-family 'Raleway'
    margin:0 auto



.nav
  background rgba(22, 72, 131, 0.5)
  text-align center
  font-family 'Raleway'
  position fixed
  bottom: 0px
  width 100%



  li
    display inline-block

  a
    display inline-block
    padding 20px
    color #FFF
    text-decoration none

    &:hover
      background-color rgba(255, 107, 95, 0.5)
      text-decoration underline



.navTOP
  background rgba(22, 72, 131, 0.5)
  text-align center
  font-family 'Raleway'
  position relative
  width 100%

  li
    display inline-block

  a
    display inline-block
    padding 20px
    color #FFF
    text-decoration none

    &:hover
      background-color rgba(255, 107, 95, 0.5)
      text-decoration underline

.footer
  margin-left 20%
  margin-top 20px
  margin-bottom 20px
  border-top 1px solid #000
  width 60%
  height 10px
  p
    color #000
    font-size 12px


.button
  display: table;
  margin: 0 auto
  padding:20px

.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: middle;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;  
}

.blue
{
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
}


.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}