body {
    background: #fff;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}

#holder_570 {
    height: 250px;
    width: 570px;
    margin: 2em auto;
}
#holder_1000 {
    margin: 0 auto;
    height: 90%;
    width: 90%;
    position: absolute;
}
a {
	color: #666;
}
p { text-align: center; }

.city_hover
{
	position: absolute;
	display: none;
	padding-left: 10px;
	width: auto;
	z-index: 2;
	background-image: url(../img/arrow.gif);
	background-repeat: no-repeat;
	background-position: 0 10px;
}

.city_hover .c_label
{
	display: block;
	padding: 10px;
	width:300px;
	height:300px;
	color: #000;
	background-color: #fff;
	/* IE fix */
	overflow: hidden;
}
.city_hover .c_label strong {
	font-weight: normal;
	font-family: Georgia, Times, serif;
	font-size: 1.2em;
}


#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

