@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Bad+Script");
@import url("https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Source Code Pro', monospace;
}
.header {
  background: url("http://i.imgur.com/bdcN0ns.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
}
.header .page-title {
  position: absolute;
  bottom: 100px;
  font-weight: 200;
  font-size: 80px;
  text-align: right;
  padding: 25px;
  text-transform: uppercase;
  color: #ff6b5f;
  font-family: 'Poiret One';
}
.header .page-subtitle {
  position: absolute;
  bottom: 0px;
  font-weight: 100;
  font-size: 40px;
  text-align: right;
  padding: 25px;
  text-transform: uppercase;
  color: #fff;
}
.sidebar,
.nav {
  background: rgba(22,72,131,0.5);
  text-align: center;
}
.sidebar li,
.nav li {
  display: inline-block;
}
.sidebar a,
.nav a {
  display: inline-block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
.sidebar a:hover,
.nav a:hover {
  background-color: rgba(255,107,95,0.5);
  text-decoration: underline;
}
.main-content {
  margin: 50px auto;
  max-width: 600px;
}
.main-content p {
  line-height: 1.6;
  margin-bottom: 1.7em;
}
.footer {
  margin: 50px auto;
  max-width: 600px;
  border-top: 1px solid #444;
  padding: 20px 0;
}
.footer p {
  color: #444;
  font-size: 12px;
}
