doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Tiffanie & Jeff

    

  body
    .header
      ul.nav
      li: a(href='/') Home
      li: a(href='#photos') Photos
      li: a(href='#about') Bridal Party
      li: a(href='#contact') Registry
      li: a(href='#contact') Contact


      h1.page-title Tiffanie & Jeff 
      h3.page-subtitle July 5, 2017

    .main-content
      block content

    .footer
      p Copyright © 2020 Futurecorpz. Futurecorpz ® is a Registered Trademark of Futures (un)Ltd. in the Mars Community and o
